<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .standard-input {
            height: 100px;
            width: 500px;
            background-color: aliceblue;
            margin-top: 1em;
        }
    </style>

    <script src="../static/js/jquery-3.5.1.min.js"></script>
    <script src="http://api.html5media.info/1.1.8/html5media.min.js"></script>
    
    <script src="../static/js/wsy.js"></script>
    <script type="text/javascript">
        window.onload = (function () {
            var request = GetRequest();
            console.log("?");
            var id = request['id'];
            var name = request['name'];
            document.getElementById("myName").innerText = name;
        });
    </script>

</head>

<body>
    <div>
        This is User's Name:
        <div id="myName"></div>
    </div>
    <div id="textList" style="width: 10px;">

    </div>
    <br>
    <input class="standard-input" type="text" id="myInput" />
    <script>
        document.getElementById('myInput').addEventListener('paste', function (e) {
            if (!(e.clipboardData && e.clipboardData.items)) {
                return;
            }
            for (var i = 0, len = e.clipboardData.items.length; i < len; i++) {
                var item = e.clipboardData.items[i];

                if (item.kind === "file") {
                    var f = item.getAsFile();
                    console.log(f);

                    let reader = new FileReader();
                    reader.readAsDataURL(f);

                    reader.onload = function (e) {
                        let img = document.createElement('img');
                        img.src = e.target.result;
                        var block = gengerate_block(img)
                        document.getElementById('textList').appendChild(block);
                        submit(img, [f], "picture", block.id);

                    };

                }
            }
        });
    </script>
    <input type="button" value="add text" onclick="add()">
</body>

</html>